.uagb-block-6xhhdyk9 .uagb-faq-item {
    border: 1px solid #7B7B7B29;
}

.uagb-block-6xhhdyk9 .uagb-faq-item .uagb-faq-content,
.uagb-block-31c9eb90 .uagb-faq-item .uagb-faq-content {
    background-color: rgba(123, 123, 123, 0.16);
}

.uagb-faq-questions .uagb-icon {
    transform: rotate(230deg);
    transition: all 0.3s ease;
}

.uagb-faq-questions .uagb-icon-active {
    transform: rotate(145deg);
    background-color: transparent !important;
    border: 1px solid #F5F3F3 !important;
}